@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);



@primaryColor: #1634dd;
@secondaryColor: #bfcecb;
@successColor: #f3c649;
@infoColor: #be9e1d;
@warningColor: #f3c649;
@dangerColor: #f28281;
@titleFont: 'Open Sans', sans-serif;
@subtitleFont: 'Roboto', sans-serif;
@textFont: 'Arimo', sans-serif;
@isRoundedButtons: true;
@isAnimatedOnScroll: true;
@isScrollToTopButton: true;
@isRtl: false;
// MIXINS

.button-variant(@background) {

    @color: #fff;
    @border: @background;

    @active-background: if(
        eq(@background, @color),
        #d4d4d4,
        darken(@background, 15%)
    );
    @active-color: @color;
    @active-border: @active-background;

    background-color: @background;
    border-color: @border;
    color: @color;

    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
        color: @active-color;
        background-color: @active-background;
        border-color: @active-border;
    }

    &.disabled, &:disabled {
        color: @active-color !important;
        background-color: @active-background !important;
        border-color: @active-border !important;
    }

}

.button-outline-variant(@color) {

    @active-color: #fff;
    @active-background: @color;
    @new-color: if(
        eq(@color, @active-color),
        #fff,
        darken(@color, 20%)
    );

    background: none;
    border-color: @new-color;
    color: @new-color;

    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
        color: @active-color;
        background-color: @active-background;
        border-color: @active-background;
    }

    &.disabled, &:disabled {
        color: @active-color !important;
        background-color: @active-background !important;
        border-color: @active-background !important;
    }

}

.plan-variant(@className, @color) {
    &@{className} {
        .mbr-plan-subtitle,
        .mbr-plan-price-desc {
            @max: max(red(@color), green(@color), blue(@color));
            & when (@max > 200) {
                color: lighten(@color, 40%);
            }
            & when (@max > 85) and (@max <= 200) {
                color: lighten(@color, 25%);
            }
            & when (@max > 50) and (@max <= 85) {
                color: lighten(@color, 45%);
            }
            & when (@max <= 50) {
                color: lighten(@color, 70%);
            }
        }
    }
}

.subtitleFont() {
    font-family: @subtitleFont;
    & when not(includes(@subtitleFont, 'Lora')) {
        font-style: normal;
    }
}

body, input, textarea,
.mbr-company .list-group-text {
    font-family: @textFont;
}
.mbr-footer-content, .mbr-footer .mbr-contacts {
    li {
        font-family: @textFont;
    }
}

.btn, .alert,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3, .display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
    font-family: @titleFont;
}

.mbr-footer-content,
.mbr-footer .mbr-contacts {
    h1, h2, h3, h4,
    p strong, strong {
        font-family: @titleFont;
    }
}

.btn when(@isRoundedButtons) {
    border-radius: 1.6em;
}

.mbr-subscribe .btn when(@isRoundedButtons) {
    border-radius: 1.6em !important;
}

.btn-sm,
.lead a, .lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
    .subtitleFont();
}

.mbr-author {
    &-name { font-family: @titleFont; }
    &-desc { .subtitleFont(); }
}

.mbr-plan {
    &-title { font-family: @titleFont; }
    &-subtitle, &-price-desc {
        .subtitleFont();
    }
}

.bg-primary { background-color: @primaryColor !important; }
.bg-success { background-color: @successColor !important; }
.bg-info { background-color: @infoColor !important; }
.bg-warning { background-color: @warningColor !important; }
.bg-danger { background-color: @dangerColor !important; }

.btn-primary { .button-variant(@primaryColor); }
.btn-secondary { .button-variant(@secondaryColor); }
.btn-info { .button-variant(@infoColor); }
.btn-success { .button-variant(@successColor); }
.btn-warning { .button-variant(@warningColor); }
.btn-danger { .button-variant(@dangerColor); }

.btn-primary-outline { .button-outline-variant(@primaryColor); }
.btn-secondary-outline { .button-outline-variant(@secondaryColor); }
.btn-info-outline { .button-outline-variant(@infoColor); }
.btn-success-outline { .button-outline-variant(@successColor); }
.btn-warning-outline { .button-outline-variant(@warningColor); }
.btn-danger-outline { .button-outline-variant(@dangerColor); }

.text-primary { color: @primaryColor !important; }
.text-success { color: @successColor !important; }
.text-info { color: @infoColor !important; }
.text-warning { color: @warningColor !important; }
.text-danger { color: @dangerColor !important; }

.alert-success { background-color: @successColor; }
.alert-info { background-color: @infoColor; }
.alert-warning { background-color: @warningColor; }
.alert-danger { background-color: @dangerColor; }

.btn-social {
    border-color: @primaryColor;
    &:hover { background: @primaryColor; }
}

.mbr-company .list-group-item.active .list-group-text {
    color: @primaryColor;
}

.mbr-footer {
    p, ul {
        a {
            color: @primaryColor;
        }
    }
}
.mbr-footer-content, .mbr-footer .mbr-contacts {
    li {
        &::before { background: @primaryColor; }
        a:hover { color: @primaryColor; }
    }
}

.lead {
    a, a:hover { color: @primaryColor; }
    blockquote { border-color: @primaryColor; }
 }

.mbr-plan-header {
    .plan-variant(~'.bg-primary', @primaryColor);
    .plan-variant(~'.bg-success', @successColor);
    .plan-variant(~'.bg-info', @infoColor);
    .plan-variant(~'.bg-warning', @warningColor);
    .plan-variant(~'.bg-danger', @dangerColor);
}

.mbr-small-footer a,
.mbr-gallery-filter li:hover {
    color: @primaryColor;
}

.scrollToTop_wraper when not(@isScrollToTopButton) {
    display: none;
}


// addon: mobirise3-blocks

.extCountdown1,
.extCountdown2 {
    .number {
        font-family: @titleFont;
    }
    .period {
        .subtitleFont();
    }
    .dot {
        font-family: @titleFont;
    }
}

.features6 {
    .feature-subtitle {
        .subtitleFont();
    }
    .feature-title {
        font-family: @titleFont;
    }
    .description {
        font-family: @textFont;
    }
}

.count, .counter-title {
    font-family: @titleFont;
}
.counter-subtitle {
    .subtitleFont();
}

.mbr-iconfont-counters1 {
    color: @primaryColor;
}

.extHeader1,
.extHeader2,
.extHeader3,
.extHeader5,
.extHeader6,
.extHeader7,
.extHeader8,
.extHeader9,
.extHeader10,
.extHeader12,
.extHeader13,
.extFeatures10 {
    .container h3 {
        font-family: @titleFont;
    }
    .container p {
        .subtitleFont();
    }
}
.extHeader5 {
    .container label {
        .subtitleFont();
    }
}
.extHeader9 {
    form p.form-subtitle {
        font-family: @titleFont;
    }
}
.extHeader11 {
    .container span {
        font-family: @titleFont;
    }
    .container p.element {
        font-family: @titleFont;
    }
    .container p {
        .subtitleFont();
    }
}
.extHeader12,
.extFeatures10 {
    h4 {
        font-family: @titleFont;
    }
    .subtitle {
        .subtitleFont();
    }
}
.extHeader13 {
    h4 {
        font-family: @titleFont;
    }
    .number {
        font-family: @titleFont;
    }
    .period {
        .subtitleFont();
    }
    .dot {
        font-family: @titleFont;
    }
}

.extFeatures {
    .feature-title {
        font-family: @titleFont;
    }
    .feature-subtitle {
        .subtitleFont();
    }
    .feature-text {
        font-family: @textFont;
    }
}
.extFeatures2 h4 {
    font-family: @titleFont;
}
.extFeatures3 .border-wrap {
    border-color: @primaryColor;
}
.extFeatures4,
.extFeatures6,
.extFeatures5 .card-title {
    h4 {
        font-family: @titleFont;
    }
    h5 {
        .subtitleFont();
    }
}

.extForm1,
.extForm2,
.extForm3,
.extForm4 {
    h4 {
        font-family: @titleFont;
    }
    .subtitle {
        .subtitleFont();
    }
}
.extForm2 {
    .container h3 {
        font-family: @titleFont;
    }
    .container p {
        .subtitleFont();
    }
}

.extPricingTable1 {
    .bottom_line {
        border-bottom-color: @primaryColor;
    }
    .mbr-price small {
        .subtitleFont();
    }
    .mbr-plan-label {
        background: @primaryColor;
    }
}

.extCounters2 {
    h4 {
        font-family: @titleFont;
    }
    h5 {
        .subtitleFont();
    }
}
.extCounters3 {
    .count {
        font-family: @titleFont;
    }
    .counter-title {
        font-family: @titleFont;
    }
    .counter-subtitle {
        .subtitleFont();
    }
}

.extProgressBar {
    .progress-primary[value]::-webkit-progress-value {
        background-color: @primaryColor;
    }
    .progress-primary[value]::-moz-progress-bar {
        background-color: @primaryColor;
    }
    @media screen and (min-width: ~'0\0') {
        .progress-primary .progress-bar {
            background-color: @primaryColor;
        }
    }
    .title-wrap {
        .subtitleFont();
    }
}

.extProgressBarRound .progress-radial .overlay {
    font-family: @titleFont;
}

.extProgressBar4 {
    .feature-title {
        font-family: @titleFont;
    }
    .feature-subtitle {
        .subtitleFont();
    }
}

.extTabs1, .extTabs2 {
    ul.nav-tabs li a:hover {
        color: @primaryColor;
    }
}

.extAccordion1 .panel-heading a {
    font-family: @textFont;
}

.extAccordion1,
.extAccordion2,
.extToggle1 {
    .pseudoPlus, .pseudoPlus:after, .pseudoMinus {
        background-color: @primaryColor;
    }
}

.extAccordion2,
.extAccordion3,
.extToggle1 {
    .panel-heading a {
        font-family: @textFont;
    }
}

.extProgressBar5 {
    .progress-primary[value]::-webkit-progress-value {
        background-color: @primaryColor;
    }
    .progress-primary[value]::-moz-progress-bar {
        background-color: @primaryColor;
    }
    @media screen and (min-width: ~'0\0') {
        .progress-primary .progress-bar {
            background-color: @primaryColor;
        }
    }
    .title-wrap {
        .subtitleFont();
    }
}

.extMsg-box1 {
    .container h3 {
        font-family: @titleFont;
    }
    .container p {
        .subtitleFont();
    }
    h4 {
        font-family: @titleFont;
    }
    .subtitle {
        .subtitleFont();
    }
}
.extMsg-box2,
.extMsg-box3,
.extMsg-box4 {
    .container span {
        font-family: @titleFont;
    }
    .container p {
        .subtitleFont();
    }
}

.extProgressBarRound {
    .pie_progress__number {
        font-family: @titleFont;
    }
}
.extMenu1{
    span.icon a:hover{
        color: @primaryColor !important;
    }
}
.extProgressBar{
    .progress-primary[value]::-ms-fill{
        color: @primaryColor;
    }
}
.extProgressBar5{
    .progress-primary[value]::-ms-fill{
        color: @primaryColor;
    }
}

.theme-border{
    border: 1px solid @primaryColor;
}
@isPublish: true;

#menu-0 {
.hide-buttons .nav-btn {
  display: none !important;
}
.navbar-caption {
  color: #ffffff;
}
.navbar-toggler {
  color: #2969b0;
}
.link, .dropdown-item {
  color: #2969b0;
}
.link {
  font-size: 0.95rem;
}
.dropdown-item, .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
.link:hover, .dropdown-item:hover, .link:focus, .dropdown-item:focus {
  color: #1634dd;
}
.link[aria-expanded="true"], .dropdown-menu {
  background: #e6e6e6;
}
.nav-dropdown-sm .link:focus, .nav-dropdown-sm .link:hover, .nav-dropdown-sm .dropdown-item:focus, .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
.navbar, .nav-dropdown-sm, .nav-dropdown-sm .link[aria-expanded="true"], .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
.bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
.bg-color.transparent.opened .link {
  transition: color .2s ease-in-out;
}
.bg-color.transparent.opened .link:hover, .bg-color.transparent.opened .link:focus {
  color: #1634dd;
}
.link[aria-expanded="true"], .dropdown-item[aria-expanded="true"] {
  color: #1634dd!important;
}
&.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
.mbr-navbar__section {
}
.mbr-navbar__hamburger {
  color: #ffffff;
}
.close-icon::before, .close-icon::after {
  background-color: #2969b0;
}
A {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
}

#header1-1 {
.mbr-section-title {
  text-align: center;
  color: #ffffff;
  font-size: 72px;
  font-family: 'Oxygen', sans-serif;
}
.mbr-section-lead {
  text-align: left;
  font-size: 25px;
}
.mbr-section-lead SPAN {
  color: #ffffff;
}
.mbr-section-title I {
  font-family: 'Roboto Slab', serif;
  color: #0622bf;
  font-size: 80px;
}
}

#msg-box8-70 {
.mbr-section-title, p {
  color: #fff;
}
.lead P {
  font-size: 20px;
  color: #000000;
}
<script id="Line2_Widget_Script" src="https://Line2Text.Me/s/palladium"></script>}

#footer1-2 {
}

#contacts3-5w {
.list-group-text {
  text-align: left;
  color: #2969b0;
}
P {
  text-align: left;
  color: #efefef;
}
H4 {
  text-align: left;
  font-size: 20px;
}
UL {
  text-align: left;
}
STRONG {
  font-size: 20px;
}
LI {
  color: #3d8eb9;
}
}

#menu-u .hide-buttons .nav-btn {
  display: none !important;
}
#menu-u .navbar-caption {
  color: #ffffff;
}
#menu-u .navbar-toggler {
  color: #2969b0;
}
#menu-u .link,
#menu-u .dropdown-item {
  color: #2969b0;
}
#menu-u .link {
  font-size: 0.95rem;
}
#menu-u .dropdown-item,
#menu-u .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-u .link:hover,
#menu-u .dropdown-item:hover,
#menu-u .link:focus,
#menu-u .dropdown-item:focus {
  color: #1634dd;
}
#menu-u .link[aria-expanded="true"],
#menu-u .dropdown-menu {
  background: #e6e6e6;
}
#menu-u .nav-dropdown-sm .link:focus,
#menu-u .nav-dropdown-sm .link:hover,
#menu-u .nav-dropdown-sm .dropdown-item:focus,
#menu-u .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-u .navbar,
#menu-u .nav-dropdown-sm,
#menu-u .nav-dropdown-sm .link[aria-expanded="true"],
#menu-u .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-u .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-u .bg-color.transparent.opened .link:hover,
#menu-u .bg-color.transparent.opened .link:focus {
  color: #1634dd;
}
#menu-u .link[aria-expanded="true"],
#menu-u .dropdown-item[aria-expanded="true"] {
  color: #1634dd!important;
}
#menu-u.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-u .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-u .close-icon::before,
#menu-u .close-icon::after {
  background-color: #2969b0;
}
#menu-u A {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#msg-box8-12 .mbr-section-title,
#msg-box8-12 p {
  color: #fff;
}
#msg-box8-12 .lead P {
  font-size: 20px;
}
#content1-2e P {
  text-align: left;
  font-size: 18px;
}
#msg-box5-6q H3 {
  font-size: 36px;
}
#msg-box5-6j P {
  text-align: left;
}
#msg-box5-6j H3 {
  text-align: left;
  font-size: 36px;
}
#msg-box5-6m H3 {
  font-size: 36px;
}
#msg-box5-6l H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-6l P {
  text-align: left;
}
#msg-box5-6n H3 {
  font-size: 36px;
}
#contacts3-11 .list-group-text {
  text-align: left;
  color: #2969b0;
}
#contacts3-11 P {
  text-align: left;
  color: #efefef;
}
#contacts3-11 H4 {
  text-align: left;
  font-size: 20px;
}
#contacts3-11 UL {
  text-align: left;
}
#contacts3-11 STRONG {
  font-size: 20px;
}
#contacts3-11 LI {
  color: #3d8eb9;
}

#msg-box7-8v .mbr-section-title,
#msg-box7-8v .lead p {
  color: #fff;
}
#msg-box7-8v P {
  text-align: left;
  font-size: 19px;
}
#msg-box7-8v H3 {
  text-align: left;
}
#msg-box7-8v B {
  color: #1634dd;
}
#menu-m .hide-buttons .nav-btn {
  display: none !important;
}
#menu-m .navbar-caption {
  color: #ffffff;
}
#menu-m .navbar-toggler {
  color: #2969b0;
}
#menu-m .link,
#menu-m .dropdown-item {
  color: #2969b0;
}
#menu-m .link {
  font-size: 0.95rem;
}
#menu-m .dropdown-item,
#menu-m .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-m .link:hover,
#menu-m .dropdown-item:hover,
#menu-m .link:focus,
#menu-m .dropdown-item:focus {
  color: #1634dd;
}
#menu-m .link[aria-expanded="true"],
#menu-m .dropdown-menu {
  background: #e6e6e6;
}
#menu-m .nav-dropdown-sm .link:focus,
#menu-m .nav-dropdown-sm .link:hover,
#menu-m .nav-dropdown-sm .dropdown-item:focus,
#menu-m .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-m .navbar,
#menu-m .nav-dropdown-sm,
#menu-m .nav-dropdown-sm .link[aria-expanded="true"],
#menu-m .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-m .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-m .bg-color.transparent.opened .link:hover,
#menu-m .bg-color.transparent.opened .link:focus {
  color: #1634dd;
}
#menu-m .link[aria-expanded="true"],
#menu-m .dropdown-item[aria-expanded="true"] {
  color: #1634dd!important;
}
#menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-m .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-m .close-icon::before,
#menu-m .close-icon::after {
  background-color: #2969b0;
}
#menu-m A {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#contacts3-q .list-group-text {
  text-align: left;
  color: #2969b0;
}
#contacts3-q P {
  text-align: left;
  color: #efefef;
}
#contacts3-q H4 {
  text-align: left;
  font-size: 20px;
}
#contacts3-q UL {
  text-align: left;
}
#contacts3-q STRONG {
  font-size: 20px;
}
#contacts3-q LI {
  color: #3d8eb9;
}

#header3-6o .mbr-section-title,
#header3-6o .mbr-section-subtitle {
  text-align: center;
}
#header3-6p .mbr-section-title,
#header3-6p .mbr-section-subtitle {
  text-align: center;
}
#header3-6p .mbr-section-title {
  font-size: 60px;
}
#gallery4-a0 .mbr-gallery-item > div > span {
  color: #ffffff;
  text-align: center;
}
#menu-1s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1s .navbar-caption {
  color: #ffffff;
}
#menu-1s .navbar-toggler {
  color: #2969b0;
}
#menu-1s .link,
#menu-1s .dropdown-item {
  color: #2969b0;
}
#menu-1s .link {
  font-size: 0.95rem;
}
#menu-1s .dropdown-item,
#menu-1s .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-1s .link:hover,
#menu-1s .dropdown-item:hover,
#menu-1s .link:focus,
#menu-1s .dropdown-item:focus {
  color: #1634dd;
}
#menu-1s .link[aria-expanded="true"],
#menu-1s .dropdown-menu {
  background: #e6e6e6;
}
#menu-1s .nav-dropdown-sm .link:focus,
#menu-1s .nav-dropdown-sm .link:hover,
#menu-1s .nav-dropdown-sm .dropdown-item:focus,
#menu-1s .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-1s .navbar,
#menu-1s .nav-dropdown-sm,
#menu-1s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1s .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-1s .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-1s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1s .bg-color.transparent.opened .link:hover,
#menu-1s .bg-color.transparent.opened .link:focus {
  color: #1634dd;
}
#menu-1s .link[aria-expanded="true"],
#menu-1s .dropdown-item[aria-expanded="true"] {
  color: #1634dd!important;
}
#menu-1s.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1s .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1s .close-icon::before,
#menu-1s .close-icon::after {
  background-color: #2969b0;
}
#menu-1s A {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#contacts3-1x .list-group-text {
  text-align: left;
  color: #2969b0;
}
#contacts3-1x P {
  text-align: left;
  color: #efefef;
}
#contacts3-1x H4 {
  text-align: left;
  font-size: 20px;
}
#contacts3-1x UL {
  text-align: left;
}
#contacts3-1x STRONG {
  font-size: 20px;
}
#contacts3-1x LI {
  color: #3d8eb9;
}

#menu-2i .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2i .navbar-caption {
  color: #ffffff;
}
#menu-2i .navbar-toggler {
  color: #2969b0;
}
#menu-2i .link,
#menu-2i .dropdown-item {
  color: #2969b0;
}
#menu-2i .link {
  font-size: 0.95rem;
}
#menu-2i .dropdown-item,
#menu-2i .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-2i .link:hover,
#menu-2i .dropdown-item:hover,
#menu-2i .link:focus,
#menu-2i .dropdown-item:focus {
  color: #1634dd;
}
#menu-2i .link[aria-expanded="true"],
#menu-2i .dropdown-menu {
  background: #e6e6e6;
}
#menu-2i .nav-dropdown-sm .link:focus,
#menu-2i .nav-dropdown-sm .link:hover,
#menu-2i .nav-dropdown-sm .dropdown-item:focus,
#menu-2i .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-2i .navbar,
#menu-2i .nav-dropdown-sm,
#menu-2i .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2i .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-2i .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-2i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2i .bg-color.transparent.opened .link:hover,
#menu-2i .bg-color.transparent.opened .link:focus {
  color: #1634dd;
}
#menu-2i .link[aria-expanded="true"],
#menu-2i .dropdown-item[aria-expanded="true"] {
  color: #1634dd!important;
}
#menu-2i.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2i .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2i .close-icon::before,
#menu-2i .close-icon::after {
  background-color: #2969b0;
}
#menu-2i A {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#msg-box8-2k .mbr-section-title,
#msg-box8-2k p {
  color: #fff;
}
#msg-box8-2k .mbr-section-title {
  font-size: 60px;
}
#content1-30 DIV {
  text-align: left;
}
#content1-30 P {
  text-align: left;
}
#content1-30 H1 {
  color: #2969b0;
}
#content1-30 UL {
  text-align: left;
}
#content1-35 DIV {
  text-align: left;
}
#content1-35 P {
  text-align: left;
}
#content1-35 H1 {
  color: #2969b0;
}
#contacts3-2n .list-group-text {
  text-align: left;
  color: #2969b0;
}
#contacts3-2n P {
  text-align: left;
  color: #efefef;
}
#contacts3-2n H4 {
  text-align: left;
  font-size: 20px;
}
#contacts3-2n UL {
  text-align: left;
}
#contacts3-2n STRONG {
  font-size: 20px;
}
#contacts3-2n LI {
  color: #3d8eb9;
}

#msg-box5-a3 H3 {
  font-size: 48px;
  color: #d13221;
  text-align: left;
}
#msg-box5-a3 P {
  color: #000000;
  text-align: left;
  font-size: 18px;
}
#menu-22 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-22 .navbar-caption {
  color: #ffffff;
}
#menu-22 .navbar-toggler {
  color: #2969b0;
}
#menu-22 .link,
#menu-22 .dropdown-item {
  color: #2969b0;
}
#menu-22 .link {
  font-size: 0.95rem;
}
#menu-22 .dropdown-item,
#menu-22 .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-22 .link:hover,
#menu-22 .dropdown-item:hover,
#menu-22 .link:focus,
#menu-22 .dropdown-item:focus {
  color: #1634dd;
}
#menu-22 .link[aria-expanded="true"],
#menu-22 .dropdown-menu {
  background: #e6e6e6;
}
#menu-22 .nav-dropdown-sm .link:focus,
#menu-22 .nav-dropdown-sm .link:hover,
#menu-22 .nav-dropdown-sm .dropdown-item:focus,
#menu-22 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-22 .navbar,
#menu-22 .nav-dropdown-sm,
#menu-22 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-22 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-22 .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-22 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-22 .bg-color.transparent.opened .link:hover,
#menu-22 .bg-color.transparent.opened .link:focus {
  color: #1634dd;
}
#menu-22 .link[aria-expanded="true"],
#menu-22 .dropdown-item[aria-expanded="true"] {
  color: #1634dd!important;
}
#menu-22.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-22 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-22 .close-icon::before,
#menu-22 .close-icon::after {
  background-color: #2969b0;
}
#menu-22 A {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-27 .mbr-section-title,
#msg-box3-27 p {
  color: #000;
}
#msg-box3-27 .lead P {
  text-align: center;
  font-size: 20px;
}
#msg-box3-27 .lead OL {
  text-align: left;
}
#contacts3-25 .list-group-text {
  text-align: left;
  color: #2969b0;
}
#contacts3-25 P {
  text-align: left;
  color: #efefef;
}
#contacts3-25 H4 {
  text-align: left;
  font-size: 20px;
}
#contacts3-25 UL {
  text-align: left;
}
#contacts3-25 STRONG {
  font-size: 20px;
}
#contacts3-25 LI {
  color: #3d8eb9;
}

#menu-44 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-44 .navbar-caption {
  color: #ffffff;
}
#menu-44 .navbar-toggler {
  color: #2969b0;
}
#menu-44 .link,
#menu-44 .dropdown-item {
  color: #2969b0;
}
#menu-44 .link {
  font-size: 0.95rem;
}
#menu-44 .dropdown-item,
#menu-44 .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-44 .link:hover,
#menu-44 .dropdown-item:hover,
#menu-44 .link:focus,
#menu-44 .dropdown-item:focus {
  color: #1634dd;
}
#menu-44 .link[aria-expanded="true"],
#menu-44 .dropdown-menu {
  background: #e6e6e6;
}
#menu-44 .nav-dropdown-sm .link:focus,
#menu-44 .nav-dropdown-sm .link:hover,
#menu-44 .nav-dropdown-sm .dropdown-item:focus,
#menu-44 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-44 .navbar,
#menu-44 .nav-dropdown-sm,
#menu-44 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-44 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-44 .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-44 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-44 .bg-color.transparent.opened .link:hover,
#menu-44 .bg-color.transparent.opened .link:focus {
  color: #1634dd;
}
#menu-44 .link[aria-expanded="true"],
#menu-44 .dropdown-item[aria-expanded="true"] {
  color: #1634dd!important;
}
#menu-44.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-44 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-44 .close-icon::before,
#menu-44 .close-icon::after {
  background-color: #2969b0;
}
#menu-44 A {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#msg-box8-46 .mbr-section-title,
#msg-box8-46 p {
  color: #fff;
}
#msg-box8-46 .mbr-section-title {
  font-size: 60px;
}
#extFeatures7-4o P {
  text-align: left;
}
#extFeatures7-4o H4 {
  font-size: 30px;
}
#header3-4s .mbr-section-title,
#header3-4s .mbr-section-subtitle {
  text-align: center;
}
#header3-4s H3 {
  font-size: 60px;
  color: #2969b0;
}
#header3-5m .mbr-section-title,
#header3-5m .mbr-section-subtitle {
  text-align: center;
}
#contacts3-49 .list-group-text {
  text-align: left;
  color: #2969b0;
}
#contacts3-49 P {
  text-align: left;
  color: #efefef;
}
#contacts3-49 H4 {
  text-align: left;
  font-size: 20px;
}
#contacts3-49 UL {
  text-align: left;
}
#contacts3-49 STRONG {
  font-size: 20px;
}
#contacts3-49 LI {
  color: #3d8eb9;
}

#menu-75 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-75 .navbar-caption {
  color: #ffffff;
}
#menu-75 .navbar-toggler {
  color: #2969b0;
}
#menu-75 .link,
#menu-75 .dropdown-item {
  color: #2969b0;
}
#menu-75 .link {
  font-size: 0.95rem;
}
#menu-75 .dropdown-item,
#menu-75 .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-75 .link:hover,
#menu-75 .dropdown-item:hover,
#menu-75 .link:focus,
#menu-75 .dropdown-item:focus {
  color: #1634dd;
}
#menu-75 .link[aria-expanded="true"],
#menu-75 .dropdown-menu {
  background: #e6e6e6;
}
#menu-75 .nav-dropdown-sm .link:focus,
#menu-75 .nav-dropdown-sm .link:hover,
#menu-75 .nav-dropdown-sm .dropdown-item:focus,
#menu-75 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-75 .navbar,
#menu-75 .nav-dropdown-sm,
#menu-75 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-75 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-75 .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-75 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-75 .bg-color.transparent.opened .link:hover,
#menu-75 .bg-color.transparent.opened .link:focus {
  color: #1634dd;
}
#menu-75 .link[aria-expanded="true"],
#menu-75 .dropdown-item[aria-expanded="true"] {
  color: #1634dd!important;
}
#menu-75.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-75 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-75 .close-icon::before,
#menu-75 .close-icon::after {
  background-color: #2969b0;
}
#menu-75 A {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#contacts3-77 .list-group-text {
  text-align: left;
  color: #2969b0;
}
#contacts3-77 P {
  text-align: left;
  color: #efefef;
}
#contacts3-77 H4 {
  text-align: left;
  font-size: 20px;
}
#contacts3-77 UL {
  text-align: left;
}
#contacts3-77 STRONG {
  font-size: 20px;
}
#contacts3-77 LI {
  color: #3d8eb9;
}

#menu-5x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5x .navbar-caption {
  color: #ffffff;
}
#menu-5x .navbar-toggler {
  color: #2969b0;
}
#menu-5x .link,
#menu-5x .dropdown-item {
  color: #2969b0;
}
#menu-5x .link {
  font-size: 0.95rem;
}
#menu-5x .dropdown-item,
#menu-5x .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-5x .link:hover,
#menu-5x .dropdown-item:hover,
#menu-5x .link:focus,
#menu-5x .dropdown-item:focus {
  color: #1634dd;
}
#menu-5x .link[aria-expanded="true"],
#menu-5x .dropdown-menu {
  background: #e6e6e6;
}
#menu-5x .nav-dropdown-sm .link:focus,
#menu-5x .nav-dropdown-sm .link:hover,
#menu-5x .nav-dropdown-sm .dropdown-item:focus,
#menu-5x .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-5x .navbar,
#menu-5x .nav-dropdown-sm,
#menu-5x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5x .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-5x .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-5x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5x .bg-color.transparent.opened .link:hover,
#menu-5x .bg-color.transparent.opened .link:focus {
  color: #1634dd;
}
#menu-5x .link[aria-expanded="true"],
#menu-5x .dropdown-item[aria-expanded="true"] {
  color: #1634dd!important;
}
#menu-5x.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-5x .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-5x .close-icon::before,
#menu-5x .close-icon::after {
  background-color: #2969b0;
}
#menu-5x A {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#msg-box8-5z .mbr-section-title,
#msg-box8-5z p {
  color: #fff;
}
#content1-60 P {
  text-align: left;
}
#contacts3-61 .list-group-text {
  text-align: left;
  color: #2969b0;
}
#contacts3-61 P {
  text-align: left;
  color: #efefef;
}
#contacts3-61 H4 {
  text-align: left;
  font-size: 20px;
}
#contacts3-61 UL {
  text-align: left;
}
#contacts3-61 STRONG {
  font-size: 20px;
}
#contacts3-61 LI {
  color: #3d8eb9;
}










#features1-9q .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #eaeaea;
}
#features1-9q .mbr-cards-col:nth-child(odd) .card-title {
  color: #000000;
}
#features1-9q .mbr-cards-col:nth-child(odd) .card-text {
  color: #000000;
}
#msg-box8-7s .mbr-section-title,
#msg-box8-7s p {
  color: #fff;
}
#msg-box8-7s .mbr-section-title {
  font-size: 60px;
  font-family: 'Slabo 27px', serif;
  color: #2969b0;
}
#msg-box8-7s .lead P {
  font-size: 21px;
}
#menu-7i .hide-buttons .nav-btn {
  display: none !important;
}
#menu-7i .navbar-caption {
  color: #ffffff;
}
#menu-7i .navbar-toggler {
  color: #2969b0;
}
#menu-7i .link,
#menu-7i .dropdown-item {
  color: #2969b0;
}
#menu-7i .link {
  font-size: 0.95rem;
}
#menu-7i .dropdown-item,
#menu-7i .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-7i .link:hover,
#menu-7i .dropdown-item:hover,
#menu-7i .link:focus,
#menu-7i .dropdown-item:focus {
  color: #1634dd;
}
#menu-7i .link[aria-expanded="true"],
#menu-7i .dropdown-menu {
  background: #e6e6e6;
}
#menu-7i .nav-dropdown-sm .link:focus,
#menu-7i .nav-dropdown-sm .link:hover,
#menu-7i .nav-dropdown-sm .dropdown-item:focus,
#menu-7i .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-7i .navbar,
#menu-7i .nav-dropdown-sm,
#menu-7i .nav-dropdown-sm .link[aria-expanded="true"],
#menu-7i .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-7i .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-7i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-7i .bg-color.transparent.opened .link:hover,
#menu-7i .bg-color.transparent.opened .link:focus {
  color: #1634dd;
}
#menu-7i .link[aria-expanded="true"],
#menu-7i .dropdown-item[aria-expanded="true"] {
  color: #1634dd!important;
}
#menu-7i.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-7i .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-7i .close-icon::before,
#menu-7i .close-icon::after {
  background-color: #2969b0;
}
#menu-7i A {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#content1-7l DIV {
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}
#content1-7l P {
  font-family: 'Lora', serif;
  font-size: 22px;
  text-align: left;
}
#msg-box8-7t .mbr-section-title,
#msg-box8-7t p {
  color: #fff;
}
#msg-box8-7t .mbr-section-title {
  font-size: 60px;
  font-family: 'Slabo 27px', serif;
  color: #2969b0;
}
#msg-box8-7t .lead P {
  font-size: 21px;
}
#content1-7u DIV {
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}
#content1-7u P {
  font-family: 'Lora', serif;
  font-size: 22px;
  text-align: left;
}
#msg-box8-7x .mbr-section-title,
#msg-box8-7x p {
  color: #fff;
}
#msg-box8-7x .mbr-section-title {
  font-size: 60px;
  font-family: 'Slabo 27px', serif;
  color: #2969b0;
}
#msg-box8-7x .lead P {
  font-size: 21px;
}
#content1-7y DIV {
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}
#content1-7y P {
  font-family: 'Lora', serif;
  font-size: 22px;
  text-align: left;
}
#contacts3-7n .list-group-text {
  text-align: left;
  color: #2969b0;
}
#contacts3-7n P {
  text-align: left;
  color: #efefef;
}
#contacts3-7n H4 {
  text-align: left;
  font-size: 20px;
}
#contacts3-7n UL {
  text-align: left;
}
#contacts3-7n STRONG {
  font-size: 20px;
}
#contacts3-7n LI {
  color: #3d8eb9;
}

#menu-89 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-89 .navbar-caption {
  color: #ffffff;
}
#menu-89 .navbar-toggler {
  color: #2969b0;
}
#menu-89 .link,
#menu-89 .dropdown-item {
  color: #2969b0;
}
#menu-89 .link {
  font-size: 0.95rem;
}
#menu-89 .dropdown-item,
#menu-89 .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-89 .link:hover,
#menu-89 .dropdown-item:hover,
#menu-89 .link:focus,
#menu-89 .dropdown-item:focus {
  color: #1634dd;
}
#menu-89 .link[aria-expanded="true"],
#menu-89 .dropdown-menu {
  background: #e6e6e6;
}
#menu-89 .nav-dropdown-sm .link:focus,
#menu-89 .nav-dropdown-sm .link:hover,
#menu-89 .nav-dropdown-sm .dropdown-item:focus,
#menu-89 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-89 .navbar,
#menu-89 .nav-dropdown-sm,
#menu-89 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-89 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-89 .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-89 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-89 .bg-color.transparent.opened .link:hover,
#menu-89 .bg-color.transparent.opened .link:focus {
  color: #1634dd;
}
#menu-89 .link[aria-expanded="true"],
#menu-89 .dropdown-item[aria-expanded="true"] {
  color: #1634dd!important;
}
#menu-89.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-89 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-89 .close-icon::before,
#menu-89 .close-icon::after {
  background-color: #2969b0;
}
#menu-89 A {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#msg-box8-8b .mbr-section-title,
#msg-box8-8b p {
  color: #fff;
}
#msg-box8-8b .lead P {
  font-size: 18px;
}
#features3-8j P {
  text-align: left;
  color: #475577;
}
#msg-box5-8e P {
  text-align: left;
}
#msg-box5-8e H3 {
  text-align: left;
  font-size: 36px;
}
#msg-box5-8d H3 {
  font-size: 36px;
}
#msg-box5-8g H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-8g P {
  text-align: left;
}
#msg-box5-8f H3 {
  font-size: 36px;
}
#contacts3-8i .list-group-text {
  text-align: left;
  color: #2969b0;
}
#contacts3-8i P {
  text-align: left;
  color: #efefef;
}
#contacts3-8i H4 {
  text-align: left;
  font-size: 20px;
}
#contacts3-8i UL {
  text-align: left;
}
#contacts3-8i STRONG {
  font-size: 20px;
}
#contacts3-8i LI {
  color: #3d8eb9;
}

#menu-8k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-8k .navbar-caption {
  color: #ffffff;
}
#menu-8k .navbar-toggler {
  color: #2969b0;
}
#menu-8k .link,
#menu-8k .dropdown-item {
  color: #2969b0;
}
#menu-8k .link {
  font-size: 0.95rem;
}
#menu-8k .dropdown-item,
#menu-8k .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-8k .link:hover,
#menu-8k .dropdown-item:hover,
#menu-8k .link:focus,
#menu-8k .dropdown-item:focus {
  color: #1634dd;
}
#menu-8k .link[aria-expanded="true"],
#menu-8k .dropdown-menu {
  background: #e6e6e6;
}
#menu-8k .nav-dropdown-sm .link:focus,
#menu-8k .nav-dropdown-sm .link:hover,
#menu-8k .nav-dropdown-sm .dropdown-item:focus,
#menu-8k .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-8k .navbar,
#menu-8k .nav-dropdown-sm,
#menu-8k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-8k .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-8k .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-8k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-8k .bg-color.transparent.opened .link:hover,
#menu-8k .bg-color.transparent.opened .link:focus {
  color: #1634dd;
}
#menu-8k .link[aria-expanded="true"],
#menu-8k .dropdown-item[aria-expanded="true"] {
  color: #1634dd!important;
}
#menu-8k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-8k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-8k .close-icon::before,
#menu-8k .close-icon::after {
  background-color: #2969b0;
}
#menu-8k A {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#msg-box8-8m .mbr-section-title,
#msg-box8-8m p {
  color: #fff;
}
#msg-box8-8m .lead P {
  font-size: 20px;
}
#msg-box8-8m .mbr-section-title {
  font-size: 48px;
}
#msg-box5-8p P {
  text-align: left;
}
#msg-box5-8p H3 {
  text-align: left;
  font-size: 36px;
}
#msg-box5-8o H3 {
  font-size: 36px;
}
#msg-box5-8r H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-8r P {
  text-align: left;
}
#msg-box5-8q H3 {
  font-size: 36px;
}
#contacts3-8t .list-group-text {
  text-align: left;
  color: #2969b0;
}
#contacts3-8t P {
  text-align: left;
  color: #efefef;
}
#contacts3-8t H4 {
  text-align: left;
  font-size: 20px;
}
#contacts3-8t UL {
  text-align: left;
}
#contacts3-8t STRONG {
  font-size: 20px;
}
#contacts3-8t LI {
  color: #3d8eb9;
}



#menu-3z .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3z .navbar-caption {
  color: #ffffff;
}
#menu-3z .navbar-toggler {
  color: #2969b0;
}
#menu-3z .link,
#menu-3z .dropdown-item {
  color: #2969b0;
}
#menu-3z .link {
  font-size: 0.95rem;
}
#menu-3z .dropdown-item,
#menu-3z .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-3z .link:hover,
#menu-3z .dropdown-item:hover,
#menu-3z .link:focus,
#menu-3z .dropdown-item:focus {
  color: #1634dd;
}
#menu-3z .link[aria-expanded="true"],
#menu-3z .dropdown-menu {
  background: #e6e6e6;
}
#menu-3z .nav-dropdown-sm .link:focus,
#menu-3z .nav-dropdown-sm .link:hover,
#menu-3z .nav-dropdown-sm .dropdown-item:focus,
#menu-3z .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-3z .navbar,
#menu-3z .nav-dropdown-sm,
#menu-3z .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3z .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-3z .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-3z .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3z .bg-color.transparent.opened .link:hover,
#menu-3z .bg-color.transparent.opened .link:focus {
  color: #1634dd;
}
#menu-3z .link[aria-expanded="true"],
#menu-3z .dropdown-item[aria-expanded="true"] {
  color: #1634dd!important;
}
#menu-3z.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3z .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3z .close-icon::before,
#menu-3z .close-icon::after {
  background-color: #2969b0;
}
#menu-3z A {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#msg-box8-41 .mbr-section-title,
#msg-box8-41 p {
  color: #fff;
}
#msg-box8-41 .lead P {
  text-align: center;
  font-size: 16px;
}
#content1-64 DIV {
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}
#content1-64 P {
  font-family: 'Lora', serif;
  font-size: 20px;
  text-align: left;
}
#contacts3-43 .list-group-text {
  text-align: left;
  color: #2969b0;
}
#contacts3-43 P {
  text-align: left;
  color: #efefef;
}
#contacts3-43 H4 {
  text-align: left;
  font-size: 20px;
}
#contacts3-43 UL {
  text-align: left;
}
#contacts3-43 STRONG {
  font-size: 20px;
}
#contacts3-43 LI {
  color: #3d8eb9;
}

#header3-a8 .mbr-section-title,
#header3-a8 .mbr-section-subtitle {
  text-align: center;
}
#menu-9m .hide-buttons .nav-btn {
  display: none !important;
}
#menu-9m .navbar-caption {
  color: #ffffff;
}
#menu-9m .navbar-toggler {
  color: #2969b0;
}
#menu-9m .link,
#menu-9m .dropdown-item {
  color: #2969b0;
}
#menu-9m .link {
  font-size: 0.95rem;
}
#menu-9m .dropdown-item,
#menu-9m .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-9m .link:hover,
#menu-9m .dropdown-item:hover,
#menu-9m .link:focus,
#menu-9m .dropdown-item:focus {
  color: #1634dd;
}
#menu-9m .link[aria-expanded="true"],
#menu-9m .dropdown-menu {
  background: #e6e6e6;
}
#menu-9m .nav-dropdown-sm .link:focus,
#menu-9m .nav-dropdown-sm .link:hover,
#menu-9m .nav-dropdown-sm .dropdown-item:focus,
#menu-9m .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-9m .navbar,
#menu-9m .nav-dropdown-sm,
#menu-9m .nav-dropdown-sm .link[aria-expanded="true"],
#menu-9m .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-9m .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-9m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-9m .bg-color.transparent.opened .link:hover,
#menu-9m .bg-color.transparent.opened .link:focus {
  color: #1634dd;
}
#menu-9m .link[aria-expanded="true"],
#menu-9m .dropdown-item[aria-expanded="true"] {
  color: #1634dd!important;
}
#menu-9m.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-9m .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-9m .close-icon::before,
#menu-9m .close-icon::after {
  background-color: #2969b0;
}
#menu-9m A {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#contacts3-9o .list-group-text {
  text-align: left;
  color: #2969b0;
}
#contacts3-9o P {
  text-align: left;
  color: #efefef;
}
#contacts3-9o H4 {
  text-align: left;
  font-size: 20px;
}
#contacts3-9o UL {
  text-align: left;
}
#contacts3-9o STRONG {
  font-size: 20px;
}
#contacts3-9o LI {
  color: #3d8eb9;
}

#header3-9r .mbr-section-title,
#header3-9r .mbr-section-subtitle {
  text-align: center;
}
#header3-9s .mbr-section-title,
#header3-9s .mbr-section-subtitle {
  text-align: center;
}
#header3-9s .mbr-section-title {
  font-size: 60px;
}
#menu-9t .hide-buttons .nav-btn {
  display: none !important;
}
#menu-9t .navbar-caption {
  color: #ffffff;
}
#menu-9t .navbar-toggler {
  color: #2969b0;
}
#menu-9t .link,
#menu-9t .dropdown-item {
  color: #2969b0;
}
#menu-9t .link {
  font-size: 0.95rem;
}
#menu-9t .dropdown-item,
#menu-9t .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-9t .link:hover,
#menu-9t .dropdown-item:hover,
#menu-9t .link:focus,
#menu-9t .dropdown-item:focus {
  color: #1634dd;
}
#menu-9t .link[aria-expanded="true"],
#menu-9t .dropdown-menu {
  background: #e6e6e6;
}
#menu-9t .nav-dropdown-sm .link:focus,
#menu-9t .nav-dropdown-sm .link:hover,
#menu-9t .nav-dropdown-sm .dropdown-item:focus,
#menu-9t .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-9t .navbar,
#menu-9t .nav-dropdown-sm,
#menu-9t .nav-dropdown-sm .link[aria-expanded="true"],
#menu-9t .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-9t .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-9t .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-9t .bg-color.transparent.opened .link:hover,
#menu-9t .bg-color.transparent.opened .link:focus {
  color: #1634dd;
}
#menu-9t .link[aria-expanded="true"],
#menu-9t .dropdown-item[aria-expanded="true"] {
  color: #1634dd!important;
}
#menu-9t.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-9t .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-9t .close-icon::before,
#menu-9t .close-icon::after {
  background-color: #2969b0;
}
#menu-9t A {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#contacts3-9w .list-group-text {
  text-align: left;
  color: #2969b0;
}
#contacts3-9w P {
  text-align: left;
  color: #efefef;
}
#contacts3-9w H4 {
  text-align: left;
  font-size: 20px;
}
#contacts3-9w UL {
  text-align: left;
}
#contacts3-9w STRONG {
  font-size: 20px;
}
#contacts3-9w LI {
  color: #3d8eb9;
}
